.catalogue {
    display: flex;
    flex-direction: column;
    outline: solid;
    align-items: center;
    width: 100%;
    height: 95vh;
    row-gap: 10px;
    padding: 30px 0px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 70%;
    gap: 50px;
}

.roww {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 80%;
    height: 70%;
}

.productA {
    width: 70%;
    height: 70%;
    outline: solid;
}

img.A {
    width: 100%;
    height: 100%;
}
.productB {
    width: 70%;
    height: 70%;
    outline: solid;
}
img.B {
    width: 100%;
    height: 100%;
}

.productC {
    width: 55%;
    height: 70%;
    outline: solid;
}

img.C {
    width: 100%;
    height: 100%;
}

.productD {
    width: 55%;
    height: 70%;
    outline: solid;
}

img.D {
    width: 100%;
    height: 100%;
}