* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 15vh;
    background: #ffffff;
    display: flex;
    padding: 0% 16px;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    -webkit-box-shadow: 0 0 10px #0f0e0e;
    box-shadow: 0 0 10px #030303;
  }

  .header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  img.logo {
    width: 158px;
    height: 118px;
  }

  .header .navbar a {
    font-size: 1.7rem;
    color: #666;
    margin: 0 1rem;
  }
    
  
  .header .navbar a:hover {
    color: #bac34e;
  }

.catalogue {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 16%;
    width: 100%;
    /* height: 79%; */
    /* background-color: #29d9d5; */
    /* align-items: center; */
    row-gap: 70px;
    position: absolute;
}

.row {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90%;
    gap: 50px;
}

.roww {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 30%;
    height: 30%;
}

.productA {
    width: 100%;
    height: 100%;
    outline: solid;
}

img.A {
    width: 100%;
    height: 100%;
}
.productB {
    width: 100%;
    height: 100%;
    outline: solid;
}
img.B {
    width: 100%;
    height: 100%;
}

.productC {
    width: 100%;
    height: 100%;
    outline: solid;
}

img.C {
    width: 100%;
    height: 100%;
}

.productD {
    width: 100%;
    height: 100%;
    outline: solid;
}

img.D {
    width: 100%;
    height: 100%;
} 

/* CSS BUTTON */

.button-1 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  outline: none;
  padding: 13px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
  height: 50px;
  will-change: transform;
  position: absolute;
  top:46%;
  left:10%;

}

.button-1:disabled {
  pointer-events: none;
}

.button-1:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-1:active {
  box-shadow: none;
  transform: translateY(0);
}



.button-2 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    outline: none;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100px;
    height: 50px;
    will-change: transform;
    position: absolute;
    top:46%;
    left:40%;
  
  }
  
  .button-2:disabled {
    pointer-events: none;
  }
  
  .button-2:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-2:active {
    box-shadow: none;
    transform: translateY(0);
  }
  


  .button-3 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    outline: none;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100px;
    height: 50px;
    will-change: transform;
    position: absolute;
    top:46%;
    left:73%;
  
  }
  
  .button-3:disabled {
    pointer-events: none;
  }
  
  .button-3:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-3:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  .button-4 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    outline: none;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100px;
    height: 50px;
    will-change: transform;
    position: absolute;
    top:101%;
    left:10%;
  
  }
  
  .button-4:disabled {
    pointer-events: none;
  }
  
  .button-4:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-4:active {
    box-shadow: none;
    transform: translateY(0);
  }
  

footer {
    width: 100%;
    background-color: #222;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
    position: fixed;
    top: 93%;
    right:0%;
    height: 60px;
}
footer p {
    color: #fff;
}
footer p span {
    color: #29d9d5;
}

